apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: auth9
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/component: auth-engine
    app.kubernetes.io/part-of: auth9
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: keycloak
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: health
      port: 9000
      targetPort: 9000
      protocol: TCP
